/Mafia/nbproject/private/
/Weather/nbproject/private/
/Weather/build/
/InstantMessenger/nbproject/private/
/IMSolution/nbproject/private/
/IMSolution/build/
/InstantMessenger/build/
/Mafia/build/
/Mafia/dist/
/Mafia/log/*
